* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Garde';
  letter-spacing: 0.08vw;
  box-sizing: border-box;
  scroll-behavior: smooth
}

::-webkit-scrollbar {
  width: 0px;
}

input[type="text"]::-moz-placeholder {
  color: #fff;
}

input[type="text"]::-webkit-input-placeholder {
  color: #fff;
}

input[type="text"]:-ms-input-placeholder {
  color: #fff;
}

input[type="text"]::-ms-input-placeholder {
  color: #fff;
}

input[type="text"]::placeholder {
  color: #fff;
}



input[type="email"]::-moz-placeholder {
  color: #fff;
}

input[type="email"]::-webkit-input-placeholder {
  color: #fff;
}

input[type="email"]:-ms-input-placeholder {
  color: #fff;
}

input[type="email"]::-ms-input-placeholder {
  color: #fff;
}

input[type="email"]::placeholder {
  color: #fff;
}

img {
  max-width: 100%;
  width: 100%;
}

section {
  padding: 0 18vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  background: #000;
}

.header {
  padding: 2vw 18vw 2vw 18vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 999999;
}

.logo-site {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-site__img {
  width: 1.8vw;
  margin-right: 0.7vw;
}

.logo-site__title {
  font-size: 0.83vw;
  color: #FFFFFF
}

.nav__item {
  text-decoration: none;
  margin-left: 2vw;
  font-size: 0.83vw;
}

.line {
  width: 1.56vw;
  border-top: 0.15vw solid #E9204F;
  margin-bottom: 0.6vw;
}

.section-title {
  margin-top: 10vw;
}

.section-title__title {
  font-size: 4vw;
  color: #FFFFFF;
}

.section-title__btn {
  margin-top: 2vw;
  font-size: 0.83vw;
  color: #FFFFFF;
  padding: 1.3vw 0;
  text-align: center;
  width: 15vw;
  border: 0.1vw solid #E9204F;
  display: block;
}

.section-info-block {
  position: relative;
  margin-top: 7.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-info-block__item-block {
  width: 32%;
  background: #1B1B1B;
  padding: 3vw 0.1vw 3.72vw 2vw;
  cursor: pointer;
}

.section-info-block__item-block:hover {
  background: #E9204F;
}

.item-block__img {
  width: 15%;
}

.item-block__title {
  margin-top: 4.6vw;
  font-size: 1.5vw;
  line-height: 150%;
  color: #FFFFFF;
}

.item-block__line {
  margin-top: 0.05vw;
  width: 3vw;
  border-bottom: 0.15vw solid #fff;
}

.item-block__text {
  margin-top: 1vw;
  font-weight: 400;
  font-size: 0.8vw;
}

/* learn */
.learn {
  background: #101010;
}

.vertical-line {
  border-right: 0.1vw solid #E9204F;
  height: 2vw;
  margin-right: 12.5vw;
}

.red-block {
  margin: -3.7vw -1.4vw 0 0;
  width: 21.9vw;
  height: 5vw;
  background: #E9204F;
}

.disigner-pidor {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.learn-main {
  margin-top: 5vw;
}

.tiile-section {
  font-size: 2.6vw;
  color: #FFFFFF;
  margin-bottom: 0.5vw;
}

.pols-section {
  font-weight: 500;
  font-size: 0.9vw;
  text-transform: uppercase;
  color: #E9204F;
}

.learn-main__blocks-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 4vw;

}

.blocks-link__item {
  padding: 2.5vw 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 31%;
  margin-bottom: 2vw;
  background: #1B1B1B;
}

.locks-link__item__title {
  font-size: 1vw;
  color: #FFFFFF;

}

.locks-link__item__img {
  width: 1.25vw;
}

/*  end learn */


/* .Employment */
.Employment {
  background: #101010;
}

.center-line {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.center-line__img {
  margin: 5.2vw 0;
  border-right: 0.1vw solid #E9204F;
  height: 3.4vw;
}

.Employment-main__blocs-img {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.blocs-img__big-img {
  width: 42vw;
  height: 31vw;
  font-family: 'Garde-Bold';
}

.blocs-img__wrapper-img {
  width: 20vw;
}

.wrapper-img__smal-img {
  height: 14.65vw;
  margin-bottom: 1.5vw;
}

.blocs-info__item {
  width: 31%;
}

.Employment-main__blocs-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;
}

.blocs-info__item__title {
  font-size: 1.2vw;
  color: #FFFFFF;
  font-weight: 500;
  margin-bottom: 0.5vw;
}

.blocs-info__item__text {
  font-size: 0.93vw;
  color: #AEACA7
}

/* end Employment */

/* timetable */
.timetable {
  padding: 0 18vw;
  background: #101010;
}

.wrapper-timetable {
  margin-top: 2vw;
}

.wrapper-timetable-blocks {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper-timetable-blocks__item-timetable {
  width: 19vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vw 0 0 2vw;
  background: #1B1B1B;
  margin-bottom: 1.25vw;
  margin-right: 1.56vw;
}

.item-timetable__number {
  margin-bottom: -1vw;
  font-size: 5vw;
  font-weight: 900;
}

.item-timetable__left__theme {
  font-size: 0.98vw;
  margin-bottom: 0.65vw;
  font-weight: 600;
  color: #FFFFFF
}

.item-timetable__left__time {
  font-size: 0.98vw;
  margin-bottom: 0.5vw;
  font-weight: 800;
  color: #FFFFFF
}

/* end timetable */


/* reg */
.reg {
  padding: 4vw 18vw 12vw 18vw;
  background: #101010;
}

.form-reg__wrapper-inp {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-reg__wrapper-inp input {
  outline: none;
  width: 48%;
  padding: 0.8vw 2vw;
  font-size: 0.83vw;
  color: #FFFFFF;
  border: 0.1vw solid #FFFFFF;
  background: #101010;
}

.form-reg__submit {
  cursor: pointer;
  margin-top: 2vw;
  padding: 1.3vw 0;
  outline: none;
  font-size: 0.83vw;
  width: 15vw;
  text-align: center;
  color: #FFFFFF;
  border: 0.1vw solid #E9204F;
  background: #101010;
}

/* end reg */


.footer {
  padding: 2vw 18vw;
  display: flex;
  flex-direction: row;
}

.footer p {
  font-size: 0.8vw;
  color: #AEACA7;
  margin-right: 2vw;
}