@font-face {
    font-family: 'Garde';
    src: url('AvantGardeGothicC-Book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garde-Bold';
    src: url('AvantGardeGothicC-Bold[1].otf');
    font-weight: bold;
    font-style: normal;
}
